<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" href="css/css.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!--[if IE]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper" class="wrapper">
    <header class="header htmleaf-header">
        <h1>数据库对比工具<span>v0.1(beta)</span></h1>
    </header>
    <iframe id="main" name="main" frameborder="no" width="100%" height="500px" src="/index"></iframe>
</div><!-- /wrapper -->

<button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
<nav id="mm-menu" class="mm-menu">
    <div class="mm-menu__header">
        <h2 class="mm-menu__title">数据库对比工具</h2>
    </div>
    <ul class="mm-menu__items">
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="/index">
                <span class="mm-menu__link-text"><i class="md md-home"></i> 首页</span>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="/dbmt/index">
                <span class="mm-menu__link-text"><i class="md md-person"></i> 数据库对比</span>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="/dbmt/metadataIndex">
                <span class="mm-menu__link-text"><i class="md md-inbox"></i> 元数据对比</span>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="/dbmt/exportIndex">
                <span class="mm-menu__link-text"><i class="md md-favorite"></i> 导出元数据</span>
            </a>
        </li>
    </ul>
</nav><!-- /nav -->

<script src="js/production/materialMenu.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script>
    var menu = new Menu;
</script>
</body>
</html>