<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/js/artdialog/ui-dialog.css"/>
    <!--[if IE]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    <style>
        .file {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            opacity: 0;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
            cursor: pointer;
        }
    </style>
</head>